NEXTAUTH_SECRET=LYIlRdc7a39bsoQiQMFYwKBe5RD3xe+6tSxExX+fRaU=
AUTH_SECRET=LYIlRdc7a39bsoQiQMFYwKBe5RD3xe+6tSxExX+fRaU=
NEXTAUTH_URL=https://app.rubicr.com
AUTH_TRUST_HOST=https://app.rubicr.com
NEXT_PUBLIC_BE=https://api.rubicr.com
