.calender_icon {
  position: absolute;
  right: 13px;
  top: 9px;
  cursor: pointer;
}
.quarter_container{
  position: absolute;
  left: 8px;
  top: 6px;
  padding: 8px;
  background-color: #F2F3F5;
  border-radius: 9px;
  font-size: 12px;
  font-weight: 600;
}

