.is_radius {
  text-decoration: none;
  border-radius: 8px;
  padding-top: 0;
  transition: 0.3s;
  border: 1px solid rgb(229 229 229);
}

.is_radius:hover {
  border: 1px solid #0f766e;
  background-color: rgba(15, 118, 110, 0.05);
}

.is_radius.active {
  border: 1px solid #0f766e;
  background-color: rgba(15, 118, 110, 0.05);
  color: #0f766e;
}

.is_radius.active .settings-card-title {
  color: #0f766e;
}

.is_radius.active .settings-card-subtitle {
  color: #0f766e;
}

.settings-card-title {
  font-size: 14px;
  color: var(--textprimary);
  margin-bottom: 4px;
  letter-spacing: var(--letterSpacing);
}

.settings-card-subtitle {
  color: var(--textLight);
}