.Bread_crumb_title {
  color: var(--textdark);
  letter-spacing: var(--letterSpacing);
}
.breadcrumb-link-container{
  padding-top: 10px;
  padding-bottom: 10px;
}
.link_title {
  color: var(--textdark);
  font-size: 14px;
  font-weight: 600;
  letter-spacing: var(--letterSpacing);
  border-bottom: 1px solid var(--textdark);
}
.active-breadcrumb {
  color: var(--textsecondary); 
  font-weight: 600;
  border-bottom: 1px solid var(--textsecondary);
}
