.accept-invitation-btn-container{
    margin-top: 10px;
}
.accept-invitation-btn{
    height: 40px !important;
    width: 248px !important;
    border-radius: 6px;
    padding: 16px;
    font-size: 16px !important;
    font-weight: 400;
}
.signin-link{
    margin-top: 10px;
    font-size: 12px !important;
}
.agree-terms{
    font-size: 14px;
    font-weight: 400;
    line-height: 19.6px;
}
@media screen and (max-width: 1400px){
    .accept-invitation-btn-container{
        margin-top: 20px;
    }
    .signin-link{
        margin-top: 10px;
    }
  }